<!--site footer-->
<footer class="container-fluid footer-wrapper">
    <section class="site-footer container">
        <div class="row">
            <div class="col-md-4">
                <p>Химки, ул. Молодежная 6</p>
                <p>12:00 — 00:00</p>
                <br>
                <p class="copyright">2013 — 2016 © Оджахури</p>
            </div>
            <div class="phone col-md-3">
                <a href="tel:+74956216002">+7 495 621-60-02</a>
                <a href="mailto:ojakhuri@mail.ru">ojakhuri@mail.ru</a>
            </div>
            <div class="logo-footer col-md-offset-2 col-md-3">
                <img src="../img/svg/logo-vert.svg" alt="логотип Оджахури">
            </div>
        </div>

    </section>

</footer>
</header>
</section>
</main>

<script src="js/main.js"></script>
</div>

</body>
</html>